$baseFontSize: 14px !default;
$baseLineHeight: 1.5 !default;
$baseFontFamily: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif !default;



$headerColor: #18191b;

$navPaddingTop: 26px;
$containerWidth: 1000px;

$primaryColor: #d61751;
$bodyColor: #333;
$linkColor: $bodyColor;

$navActiveColor: $primaryColor;
$navSubGgColor: #111214;

$h3Color: #a66231;


