$baseFontSize: 14px !default;
$baseLineHeight: 1.5 !default;
$baseFontFamily: "Microsoft Yahei", "Helvetica Neue", Helvetica, Tahoma, sans-serif !default;



$headerColor: #18191b;

$navPaddingTop: 26px;
$navActiveColor: #d61751;
$navSubGgColor: #111214;
$containerWidth: 1000px;

$bodyColor: #333;
$linkColor: $bodyColor;

