//Home page specific stylings
.slider {
  padding: 40px 0;
  background: url($imgPath + '/slide.jpg') no-repeat 0 0;
  &-wrap {
    width: 672px;
    float: left;
  }
  .download-wrap {
    width: 328px;
    float: left;
  }
}
.post {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;

}
.excerpt-item {
  padding-bottom: 10px;
  h2 {
    font-size: 16px;
  }
  .excerpt-img {
    width: 300px;
    margin-right: 10px;
  }
}
