ul, ol {
	margin: 0 0 ;
}

.list-group {
  &-item{
    position: relative;
    padding-left: 12px;
    line-height: 30px;
    background: url($imgPath + '/dot.png') no-repeat left center;

    .datetime {
      position: absolute;
      right: 0;
    }
  }
}

.dl-horizontal {

}
