//Header specific stylings
.nav-wrap {
  li {
    float: left;
    list-style: none;
  }
  a {
    color: #fff;
  }

}
.nav-main {
  padding-top: $navPaddingTop;
  font-size: 16px;
  > li {
    padding: 7px 21px 10px;
    margin-right: 20px;

    .arrow,
    .arrow:after {
      position: absolute;
      display: none;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    &.active {
      background: $navActiveColor;
      border-radius: 15px;

      .arrow {
        display: block;
        top: -22px;
        left: 50%;
        margin-left: -11px;
        border-top-width: 0;
        border-bottom-color: $navSubBorderColor;
        border-width: 11px;
        &:after {
          display: block;
          top: 1px;
          margin-left: -10px;
          content: "";
          border-width: 10px;
          border-top-width: 0;
          border-bottom-color: $navSubGgColor;
        }
      }
    }
  }

  
}
.nav-sub{

  &-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    line-height: 40px;
    font-size: 14px;
  }
  
  li { 
    margin-right: 38px;
  }

  &:before {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
  
  &-bg {
    background: $navSubGgColor;
    border-top: 1px solid $navSubBorderColor;
    height: 40px;
  }
}

.form-wrap {
  position: relative;
  padding-right:92px;

  .rss-wrap {
    position: absolute;
    bottom: 0;
    right: 5px;
    border-radius: 50%;
    background-color: #27282a;
    width: 31px;
    height: 31px;
    
    a {
      color: $primaryColor;
    }
    .icon-rss {
      position: absolute;
      top: 5px;
      left: 9px;
      font-size: 18px;
    }
  }
}

.form-search {
  position: relative;
  margin-top: $navPaddingTop;
  padding-right: 20px;
  background: #303134;
  //background: #303134 url('../img/search.png') no-repeat right center;

  input {
    height: 25px;
    border: 0;
    background: transparent;
    &:focus {
      background-color: transparent;
    }
  }

  .icon-search {
    position: absolute;
    right: 6px;
    top: 9px;
    color: #4a5053;
  }
}
