.container {
  @include wrapper();
}
.header {
  position: relative;
  background: $headerColor;
  
  &-c1 {
    height: 80px;
  }
  .logo,
  .nav-wrap{
    float: left;
  }

  .logo {
    width: 100px;
    margin-right: 48px;
  }
}

.content {
  @include wrapper();
  
  .main {
    width: 672px;
    float: left;
  }
  .aside {
    width:300px;
    float:right;
  }
}

.box {
  &-hd {

  }
  &-bd {

  }
}

