.container {
  @include wrapper();
}
.header {
  position: relative;
  background: $headerColor;
  
  &-c1 {
    height: 80px;
  }
  .logo,
  .nav-wrap{
    float: left;
  }

  .logo {
    width: 100px;
    margin:10px 48px 0 0;
  }
}

.content {
  @include wrapper();
  padding-top: 10px;
  .main {
    width: 672px;
    float: left;
  }
  .aside {
    width:300px;
    float:right;
  }
}

.browsehappy {
  margin-top: 10%;
  text-align: center;
  font-size: 1.2em;
  color: $primaryColor;
}

.backtop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  display: none;
  line-height: 60px;
  border-radius: 50%;
  background-color: #b0b0b0;
  text-align: center;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}

.lt-ie8 {
  .wrapper {
    display: none;
  }
}


